#!/usr/bin/make -f

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol --dpkg-gencontrol-params=-Dsrcpkg=gauche-bdb

#debian/control: debian/control.in
#	# fix the Package name
#	replace-gauche-string  debian/control.in > $@

override_dh_install:
	dh_install --sourcedir=debian/tmp/

# do nothing
override_dh_autoreconf:
