#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake+ninja

# both cmake & make!
override_dh_auto_test:
	make test

# so install:
override_dh_install:
	# directly, no splitting by .install files:
	dh_auto_install --destdir=debian/gauche-bdb/ -O--buildsystem=cmake\+ninja
	make install DESTDIR=debian/gauche-bdb/
	# dh_auto_install --destdir=debian/gauche-bdb/ -O--buildsystem=cmake\+ninja
	# dh_install --sourcedir=debian/tmp/


# do nothing
# override_dh_autoreconf:


override_dh_gencontrol:
	dh_gencontrol --dpkg-gencontrol-params=-Dsrcpkg=gauche-bdb

#debian/control: debian/control.in
#	# fix the Package name
#	replace-gauche-string  debian/control.in > $@
